/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
        box-sizing: border-box;
}
* {
        margin: 0;
}
body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
}
input, button, textarea, select {
        font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
}
#root, #__next {
        isolation: isolate;
}

/* END CSS RESET */

body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}

.PixelContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}

.Pixel {
        border: 1px solid #4f4f4f55;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}

.mFilled {
        background-color: #ff5656;
        border: none;
}

.Pixel:hover {
        background-color: #ff5656;
}